extends layout
block page
	- var menu = 'home'
	- var menudata = data[data.length-1]
block content
	- var zfactor = 0.15 * zoom;
	script(type="text/javascript", src="/scripts/basefunctions.js?v="+Math.random())
	script(type="text/javascript", src="/scripts/mapfunctions.js?v="+Math.random())
	//- script(type="text/javascript", src="/scripts/adminfunctions.js")
	
	div.row#vue
		svg(
			version="1.1" xmlns="http://www.w3.org/2000/svg" 
			v-if="!isNaN(wWidth)" xmlns:xlink="http://www.w3.org/1999/xlink" x="0"
			y="0" :width="(!wWidth ? 0:wWidth)" :height="(!wHeight ? 0:wHeight)" 
			:viewBox="'0 0 '+ wWidth +' '+ wHeight + ''" 
			style="position:absolute;" xml:space="preserve" 
			:style="{'enable-background':'new 0 0 '+ wWidth +' '+ wHeight}"
			)
			defs
				clipPath#clipPath
					path(
						v-if="btn && !isNaN(wWidth)", :d="dPathAttr()"
						)

		include menu.pug

		div.buttonbox.tb-11-m0
			div.row
				div.btn(style="max-height: 50vh; margin-bottom: 10px;")
					input#mySearch.catchphrase(type="search", placeholder="search", @keypress="searchThis")

				div.btn
					div.row
						a#geolocate.block.ms-Button(v-if="!swactive" href="/near" name="geolocate" title="Geolocate") 
							p.ms-font-m.buttonlabel Near
							img(src="/images/geolocate.svg")
						
						a#geolocate.block.ms-Button(v-if="swactive && sw")
							
							span.ms-font-xs.buttonlabel(style="left:0;display:block;position:relative;text-align:left;" v-text="moment(new Date(sw[sw.length - 1].Date)).utc().format('L')")
							img(src="/images/geolocate.svg")
				div.btn
					div.row
						a.select.all.block.ms-Button(v-if="!swactive" href="#" name="all" title="All") 
							p.ms-font-m.buttonlabel ALL
							img(src="/images/refresh.svg")
						
						a.select.all.block.ms-Button(v-if="swactive && sw")
							span.ms-font-xs.buttonlabel(style="left:0;display:block;position:relative;text-align:left;color:#fff;" v-text="sw[sw.length - 1].Time")
							img(src="/images/refresh.svg")
				div.btn
					div.row
						a.select.h.block.ms-Button(v-if="!swactive" @click="category('H')" href="#" name="H" title="Housing") 
							div(v-if="!swactive")
								p.ms-font-m.buttonlabel Housing
								img(src="/images/housing.svg")
						a.select.h.block.ms-Button(v-if="swactive && sw" @click="category('Men')" href="#" name="H" title="Men's shelter") 
							span.ms-font-m.buttonlabel Men's Shelter
							img(src="/images/beds.svg")
							span(v-text="sw[sw.length - 1]['Mens Shelter']") 
				div.btn
					div.row
						a.select.m.block.ms-Button(v-if="!swactive" @click="category('M')" href="#" name="M" title="Medical") 
							div(v-if="!swactive")
								p.ms-font-m.buttonlabel Medical
								img(src="/images/medical.svg")
						a.select.m.block.ms-Button(v-if="swactive && sw" @click="category('Overflow')" href="#" name="M" title="Overflow shelter") 
							span.ms-font-m.buttonlabel Overflow Shelter
							img(src="/images/beds.svg")
							span(v-text="sw[sw.length - 1]['Overflow Shelter']") 
				div.btn
					div.row
						a.select.f.block.ms-Button(v-if="!swactive" @click="category('F')" href="#" name="F" title="Food") 
							p.ms-font-m.buttonlabel Food
							img(src="/images/food.svg")
						a.select.f.block.ms-Button(v-if="swactive && sw" @click="category('Miller')" href="#" name="F" title="Gail Miller Men's and Women's Resource Center")
							span.ms-font-m.buttonlabel Gail Miller
							img(src="/images/beds.svg")
							span(v-text="+sw[sw.length - 1]['Gail Miller (Men)'] + +sw[sw.length - 1]['Gail Miller (Women)']") 
				div.btn
					div.row
						a.select.b.block.ms-Button(v-if="!swactive" @click="category('B')" href="#" name="B" title="Travel") 
							p.ms-font-m.buttonlabel Travel
							img(src="/images/travel.svg")
						a.select.b.block.ms-Button(v-if="swactive && sw" @click="category('King')" href="#" name="B" title="Geraldine King Women's Resource Center") 
							span.ms-font-m.buttonlabel Geraldine King
							img(src="/images/beds.svg")
							span(v-text="sw[sw.length - 1]['Geraldine King']") 

		//- if (infowindow)
		.container(v-if="!swactive")
			include includes/gallery.pug
			div.ms-Overlay.ms-Overlay--dark.js-togglePanel(@click="resetView", v-if="infowindow && infowindow !== 'new' && infowindow !== 'edit' && doc && doc !== '' || geo.length > 0")
		.container.graph.row(v-if="swactive")
			//- div.tb-10-m0
			div.tb-11-m0#graph(v-if="swgraph")
				p.ms-font-m Number of beds available
			div.row#sw(v-if="loggedin && loggedin !== null &&  loggedin !== undefined" style="z-index:999999;")
				div.tb-10-m0
					a.ms-Button.ms-Button--primary(role="button" @click="switchSwedit")
						span(style="color:#fff;") Add bed availability data

				div.tb-10-m0(v-if="swedit")
					form#form.row(enctype="multipart/form-data" method="POST" action="/api/addsw" style="margin-bottom: 50px")

						//- label.tb-10-m0(for="input-sw_date") Date
						input#input-sw_date.tb-10-m0(type="hidden" name="Date" :value="new Date()")
						label.tb-10-m0(for="input-sw_time") Time
						input#input-sw_time.tb-10-m0(type="text" name="Time" :value="moment().format('LT')")
						//- label.tb-10-m0(for="temp") Temperature @ Call Time (F)
						input.tb-10-m0(id="temp" name="Temperature @ Call Time (F)" type="hidden")
						//- label.tb-10-m0(for="temp_low") Daily Temp Low
						input.tb-10-m0(id="temp_low" name="Daily Temp Low" type="hidden")
						label.tb-10-m0(for="voa_men") Men's Shelter
						input.tb-10-m0(id="voa_men" name="Mens Shelter" type="number" min="0")
						label.tb-10-m0(for="miller_men") Gail Miller (Men)
						input.tb-10-m0(id="miller_men" name="Gail Miller (Men)" type="number" min="0")
						label.tb-10-m0(for="miller_women") Gail Miller (Women)
						input.tb-10-m0(id="miller_women" name="Gail Miller (Women)" type="number" min="0")
						label.tb-10-m0(for="king_women") Geraldine King
						input.tb-10-m0(id="king_women" name="Geraldine King" type="number" min="0")
						label.tb-10-m0(for="overflow") Overflow Center
						input.tb-10-m0(id="overflow" name="Overflow Center" type="number" min="0")
						label.tb-10-m0(for="total") Total (non-site-specific)
						input.tb-10-m0(id="total" name="Total (non-site-specific)" type="number" min="0")
						label.tb-10-m0(for="notes") Notes
						input.tb-10-m0(type="text" name="notes")
						button.ms-Button.ms-Button--primary(type="submit" style="color:#fff;") Submit
			div.ms-Overlay.ms-Overlay--dark.js-togglePanel(@click="resetView" style="pointer-events: all;")
	#map
	
	
	//- if (infowindow && infowindow !== 'new' && infowindow !== 'edit')
		
	include vue/map.pug
	script(type="text/javascript").

